.filters-group-container {
  width: 100%;
  margin-top: 15px;
}
.filters-group-heading {
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
  font-family: 'roboto';
  padding-bottom: 10px;
}
.checkboxes-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.radio-items-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.filters-group-list {
  padding-bottom: 15px;
  align-items: center;
  display: flex;
}
.filters-group-label {
  color: #ffffff;
  margin-left: 10px;
  font-size: 14px;
  font-family: 'roboto';
}
